@mixin center($width) {
	width: 100%;
	max-width: $width;
	padding: 0 3%;
	margin: 0 auto;
}

@mixin transition($element, $duration) {
	-webkit-transition: $element $duration;
	-moz-transition: $element $duration;
	-o-transition: $element $duration;
	transition: $element $duration;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-box {
	-webkitbox-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin clearfix {
	& { *zoom: 1; }
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after { clear: both; }
}

// MEDIA QUERIES MIXINS

@mixin desktop-small {
	@media screen and (min-width: #{$desktop-small}) and (max-width: #{$desktop - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: #{$tablet}) and (max-width: 880px){
		@content;
	}
}

@mixin tablet-small {
	@media screen and (min-width: #{$tablet-small}) and (max-width: 879px) { 
		@content; 
	}
}

@mixin mobile-medium { 
	@media screen and (min-width: #{$mobile-medium}) and (max-width: $tablet-small - 1) {
		@content;
	}	
}

@mixin mobile-small {
	@media screen and (min-width: #{$mobile-small}) and (max-width: $mobile-medium - 1) {
		@content;
	}
}
