$ltgray-bg			: #edeff1;
$white				: #fff;
$dark-brown			: #612316;
$primary-color		: #31353e;
$gray-text			: #4e5159;
$product-text		: #191b29;
$secondary-color	: #dd4b2b;
$product-hover1		: #cb4528;
$product-hover2		: #414464;
$footer-bg			: #d75d0e;

$font-stack			: 'Roboto Slab', Helvetica, Arial, sans-serif;
$font-stack2		: 'Roboto', Helvetica, Arial, sans-serif;
$mobile-small		: 360px;
$mobile-medium		: 480px;
$tablet-small		: 580px;
$tablet				: 768px;
$desktop-small		: 960px;
$desktop			: 1200px;